AUDIT_DB_NAME=<audit_database>
AUDIT_DB_HOST=<localhost>
AUDIT_DB_PORT=<55432>
AUDIT_MIGRATOR_USER=<migration_owner>
AUDIT_MIGRATOR_PASSWORD=<migration_password>
AUDIT_RUNTIME_USER=<runtime_writer>
AUDIT_RUNTIME_PASSWORD=<runtime_password>
AUDIT_MIGRATOR_URL=<postgresql_connection_url>
AUDIT_RUNTIME_URL=<postgresql_connection_url>
